<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="/static/css/lib/daisyui.min.css">
    <script src="/static/js/lib/tailwind.min.js"></script>
    <script src="/static/js/config.js"></script>
    <link rel='stylesheet' href='/static/css/lib/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='/static/css/lib/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="bg-gray-20 bg-opacity-45 backdrop-blur-2xl p-3 mx-auto w-1/2 mt-10 h-[90vh] rounded-3xl shadow-lg">
        <h1 class="text-6xl text-center font-fedra mt-20">صفحه اصلی</h1>
    </div>
    
    <script src="/static/js/main.js"></script>
</body>

</html>