<!DOCTYPE html>
<html lang="en">

<head>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="/static/css/lib/daisyui.min.css">
    <script src="/static/js/lib/tailwind.min.js"></script>
    <script src="/static/js/config.js"></script>
    <link rel='stylesheet' href='/static/css/lib/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='/static/css/lib/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <button class="pr-4 pt-5 lg:hidden" onclick="handlemenu()"><i
                    class="fi fi-sr-bars-staggered text-2xl"></i></button>
        <div id="backdrop-menu" onclick="handlemenu()"
             class="fixed top-0 right-0 bg-black bg-opacity-50 w-screen h-screen lg:hidden hidden z-10"></div>
        <nav class="bg-gray-20 bg-opacity-45 backdrop-blur-3xl p-3 lg:w-2/12 w-1/2 h-[90vh] fixed lg:right-0 right-[-100%] top-[5%] rounded-l-2xl shadow-lg transition-all duration-300 z-20"
             id="menu">
            <div class="text-center font-fedra text-2xl mt-5">
                judgino
            </div>
            <ul class="menu rounded-box mt-20">
                <li class="mb-3">
                    <a href="#">
                        <i class="fi fi-rr-home"></i>
                        سوال ها
                    </a>
                </li>
                <li class="mb-3 bg-gray-38 rounded-lg">
                    <a href="#">
                        <i class="fi fi-rr-edit"></i>
                        سوال جدید
                    </a>
                </li>
                <li class="mb-3">
                    <a href="#">
                        <i class="fi fi-rr-checkbox"></i>
                        ارسال ها
                    </a>
                </li>
                </li>
                <li class="mb-3">
                    <a href="/pages/player/scores.html">
                        <i class="fi fi-rr-user"></i>
                        پروفایل
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/pages/player/questions.html">
                        <i class="fi fi-rr-user-pen"></i>
                        ویرایش پروفایل
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="lg:w-10/12 p-3 mr-auto mt-6">
        <section class="bg-gray-20 bg-opacity-45 min-h-full backdrop-blur-3xl p-3 rounded-2xl w-full min-h-[90h] z-20">
            
            <form id="filter" action="/submissions/{{.QuestionId}}" method="POST">
                <div class="card lg:w-8/12 w-10/12  mx-auto bg-gray-700 bg-opacity-30 backdrop-blur-xl p-4 rounded-xl">
                    <h1 class="text-4xl text-center font-fedra mb-5">لیست ارسال‌ها</h1>
    
    
    
                    <div class="mb-4">
                        <select id="submissionFilter" name="submissionFilter" class="p-2 w-1/4 rounded-md border">
                            <option value="all" {{if eq .SubmissionFilter "all"}} selected {{end}}>تمام ارسال‌ها</option>
                            <option value="mine" {{if eq .SubmissionFilter "mine"}} selected {{end}}>ارسال‌های من</option>
                        </select>
                        <select id="finalFilter" name="finalFilter" class="p-2 w-1/4 rounded-md border">
                            <option value="all" {{if eq .FinalFilter "all"}} selected {{end}}>تمام ارسال‌ها</option>
                            <option value="final" {{if eq .FinalFilter "final"}} selected {{end}}>ارسال‌های نهایی</option>
                        </select>
                    </div>
                    
                    <button type="submit" onclick="submitBothForms(event)" class="p-2 bg-gray-500 text-white rounded-md">ارسال</button>
    
    
                    <div class="overflow-x-auto w-3/4 mx-auto bg-base--gray rounded-xl table-con bg-opacity-75">
                        <table class="table-auto w-full text-center border-collapse">
                            <thead>
                                <tr>
                                    <th class="2">نام سوال</th>
                                    <th class="2">پاسخ‌دهنده</th>
                                    <th class="2">وضعیت</th>
                                    <th class="2">زمان ارسال</th>
                                    <th class="2">نوع ارسال</th>
                                </tr>
                            </thead>
                            <tbody id="submissions-list">
                                {{range .Submissions}}
                                <tr>
                                    <th class="2">{{.QuestionTitle}}</th>
                                    <th class="2">{{.UserName}}</th>
                                    <th class="2">{{.Status}}</th>
                                    <th class="2">{{.Date}}</th>
                                    <th class="2">{{.Type}}</th>
                                </tr>
                                {{end}}
                            </tbody>
                    
                        </table>
                    </div>
    
                    <div class="flex justify-center items-center mt-4">
                        <input type="hidden" id="pageInfo" name="pageInfo" value="{{.CurrentPage}}">
                        <button type="submit" name="page" value="prev" class="p-2 bg-gray-500 text-white rounded-md">قبلی</button>
                    
                        <span class="mx-6">صفحه {{.CurrentPage}} از {{.TotalPages}}</span>
                    
                        <button type="submit" name="page" value="next" class="p-2 bg-gray-500 text-white rounded-md">بعدی</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <script src="/static/js/main.js"></script>
</body>


</html>